<b>{{article.title}}</b><br>
<span [innerHTML]="article.text"></span><br>
SHARE:
<a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}" target="_blank">Facebook</a>
<a href="https://twitter.com/intent/tweet?text={{article.title}}&url={{currentUrl}}" target="_blank">Twitter</a>
<a href="http://pinterest.com/pin/create/bookmarklet/?url={{currentUrl}}" target="_blank">Pinterest</a>
<a href="mailto:?subject={{article.title}}&body={{currentUrl}}">Email</a>
<br><br>
