<layout-header></layout-header>
<router-outlet></router-outlet>
<!--
<div *ngFor="let article of articles">
  <b>{{article.title}}</b><br>
  <span [innerHTML]="article.text"></span>
  <a href="/news/{{article.slug}}">READ MORE</a>
  <hr/>
</div>
-->
