<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">LOGO</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/music">MUSIC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/live">LIVE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/store">STORE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/follow">FOLLOW</a>
      </li>
    </ul>
  </div>
</nav>
